@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>User is @((User.Identity.IsAuthenticated ? "Authenticated" : "Not Logged in."))</p>
</div>
